.Login {
	height: calc(100vh - 4rem);
	display: grid;
	place-items: center;
}

.Monitor {
	display: grid;
	place-items: center;
	font-size: 2.5rem;
}

.LoginItem {
	font-size: 1.1rem;
	width: 100%;
}

.OauthLoginItem {
	// justify-content: space-between;
	min-width: 200px;
}