.Update {
	background-color: rgb(83, 37, 37);
	padding: 0.75rem;
}

.Log {
	white-space: pre-line;
	overflow-wrap: anywhere;
	/* word-wrap: break-word; */
	max-height: 80vh;
	overflow: scroll;
	tab-size: 2;
	width: 40rem;
	max-width: 90vw;
	margin-left: 2rem;
	box-sizing: border-box;
}