@use "../../style/colors.scss" as c;

.Update {
	background-color: c.$blue;
	padding: 0.75rem;
}

.LogContainer {
	max-height: 80vh;
}

.Log {
	white-space: pre-line;
	overflow-wrap: anywhere;
	/* word-wrap: break-word; */
	tab-size: 2;
	width: 40rem;
	max-width: 90vw;
	margin-left: 2rem;
	box-sizing: border-box;
	max-height: 20vh;
}