@use "../../style/colors.scss" as c;

@keyframes Enter {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

.Update {
	background-color: c.$lightgrey;
	padding: 0.75rem;
	height: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	transform-origin: top;
	animation-name: Enter;
	animation-duration: 750ms;
}

@keyframes EnterNoName {
	from {
		transform: scaleY(0);
		opacity: 0;
	}

	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

.Update.NoName {
	// height: 70px;
	animation-name: EnterNoName;
}

.LogContainer {
	max-height: 80vh;
}

.Log {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	/* word-wrap: break-word; */
	tab-size: 2;
	width: 1000px;
	max-width: 80vw;
	box-sizing: border-box;
	background-color: rgba(c.$darkgrey, 0.6);
	padding: 1rem;
}