.Deployment {
	grid-area: content;
	grid-template-columns: 2fr 3fr;
	background-color: rgb(49, 78, 112);
	padding: 1rem;
}

.Left {
	height: fit-content;
}

.Header {
	font-size: 1.5rem;
}

.Actions {
	background-color: rgb(35, 73, 115);
	padding: 0.5rem;
}

.Action {
	background-color: rgb(35, 73, 115);
}