.Card {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

/* actions */

.Action {
	background-color: rgb(69, 34, 96);
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	box-sizing: border-box;
}

/* updates */

.UpdatesContainer {
	max-height: 50vh;
}

.Update {
	background-color: rgb(69, 34, 96);
}

/* tabs */

.Tabs {
	height: fit-content;
}

/* Config */

.Config {
	height: 100%;
	place-items: start center;
	grid-template-rows: 70vh auto
}

.ConfigItems {
	max-height: 100%;
	padding: 0.5rem;
}

.ConfigItem {
	width: 100%;
	max-width: 35rem;
	background-color: darkolivegreen;
	box-sizing: border-box;
	padding: 0.5rem;
	height: fit-content;
}

/* log */

.LogContainer {
	max-height: 80vh;
	margin: 0rem 1rem 1rem 1rem;
	background-color: rgb(22, 39, 57);
	box-sizing: border-box;
	position: relative;
}

.Log {
	white-space: pre-line;
	overflow-wrap: anywhere;
	tab-size: 2;
	padding: 0rem 1rem;
	margin-bottom: 40vh;
}

.RefreshButton {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

.ReturnButton {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}

.Enter {
  animation-name: enter;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

.Exit {
  animation-name: exit;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

@keyframes enter {
  from {
    opacity: 0;
		transform: scale(0);
  }
  to {
    opacity: 1;
		transform: scale(1);
  }
}

@keyframes exit {
  from {
    opacity: 1;
		transform: scale(1);
  }
  to {
    opacity: 0;
		transform: scale(0);
  }
}