.Deployment {
	grid-area: content;
	grid-template-columns: auto 2fr;
	background-color: rgb(49, 78, 112);
	padding: 1rem;
}

.Left {
	height: fit-content;
	width: 20rem;
}

.Header {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

.ItemHeader {
	font-size: 1.5rem;
	font-weight: 500;
	user-select: none;
}

.Actions {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

.Action {
	background-color: rgb(69, 34, 96);
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	box-sizing: border-box;
}

.Updates {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

.Update {
	background-color: rgb(69, 34, 96);
}

.Tabs {
	background-color: rgb(27, 55, 86);
}

.Config {
	height: 100%;
	place-items: start center;
	grid-template-rows: 70vh 1fr;
}

.ConfigItems {
	max-height: 100%;
	overflow: scroll;
	padding: 0.5rem;
}

.ConfigItem {
	width: 100%;
	max-width: 35rem;
	background-color: darkolivegreen;
	box-sizing: border-box;
	padding: 0.5rem;
	height: fit-content;
}