.Deployment {
	grid-area: content;
	grid-template-columns: auto 2fr;
	background-color: rgb(49, 78, 112);
	padding: 1rem;
}

.Left {
	height: fit-content;
	width: 20rem;
}

.ItemHeader {
	font-size: 1.5rem;
	font-weight: 500;
	user-select: none;
}

/* header */

.Header {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

/* actions */

.Actions {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

.Action {
	background-color: rgb(69, 34, 96);
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	box-sizing: border-box;
}

/* updates */

.Updates {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

.UpdatesContainer {
	max-height: 50vh;
	overflow: scroll;
}

.Update {
	background-color: rgb(69, 34, 96);
}

/* tabs */

.Tabs {
	background-color: rgb(27, 55, 86);
	height: fit-content;
}

/* Config */

.Config {
	height: 100%;
	place-items: start center;
	grid-template-rows: 70vh 1fr;
}

.ConfigItems {
	max-height: 100%;
	overflow: scroll;
	padding: 0.5rem;
}

.ConfigItem {
	width: 100%;
	max-width: 35rem;
	background-color: darkolivegreen;
	box-sizing: border-box;
	padding: 0.5rem;
	height: fit-content;
}

/* log */

.LogContainer {
	max-height: 80vh;
	overflow: scroll;
	margin: 0rem 1rem 1rem 1rem;
	background-color: rgb(22, 39, 57);
	box-sizing: border-box;
	position: relative;
}

.Log {
	white-space: pre-line;
	overflow-wrap: anywhere;
	/* word-wrap: break-word; */
	tab-size: 2;
	/* width: 40rem;
	max-width: 90vw;
	margin-left: 2rem; */
	/* box-sizing: border-box; */
	padding: 0rem 1rem;
	margin-bottom: 40vh;
}

.ReturnButton {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}