$app-color: #fceade;

$lightgrey: #65707f;
$grey: #49515c;
$darkgrey: #2c3137;

$lightblue: #195abb;
$blue: #174c9b;
$darkblue: #113872;

$lightgreen: #4f8d5c;
$green: #41764c;
$darkgreen: #2b4f33;

$lightred: #b13a2d;
$red: #952E23;
$darkred: #631F17;

$lightorange: #d56b3a;
$orange: #ac5c36;
$darkorange: #984f2d;

$lightpurple: #720e61;
$purple: #5A0B4D;
$darkpurple: #3b0732;