$app-color-dark: #fceade;

$lightgrey-dark: #3f454d;
$grey-dark: #25292e;
$darkgrey-dark: #16181b;

$lightblue-dark: #1c63cd;
$blue-dark: #184e9f;
$darkblue-dark: #12366d;

$app-color: #1b1e1e;

$lightgrey: #fcfcfc;
$grey: rgb(227, 227, 227);
$darkgrey: #c2c2c2;

$lightblue: #186ded;
$blue: #1964d4;
$darkblue: #1b59b6;

$textgreen: #1f7d34;
$textgreen-dark: #80ea97;
$lightgreen: #4f8d5c;
$green: #41764c;
$darkgreen: #2b4f33;

$textred: #a73225;
$textred-dark: #f04633;
$lightred: #b13a2d;
$red: #952E23;
$darkred: #631F17;

$lightorange: #d56b3a;
$orange: #ac5c36;
$darkorange: #984f2d;

$lightpurple: #720e61;
$purple: #5A0B4D;
$darkpurple: #3b0732;