$app-color: #fceade;

$lightgrey: #3f454d;
$grey: #25292e;
$darkgrey: #16181b;

$textblue: #5f9af4;
$lightblue: #1c63cd;
$blue: #184e9f;
$darkblue: #12366d;

$textgreen: #80ea97;
$lightgreen: #4f8d5c;
$green: #41764c;
$darkgreen: #2b4f33;

$textred: #f04633;
$lightred: #b13a2d;
$red: #952E23;
$darkred: #631F17;

$textorange: #984f2d;
$lightorange: #d56b3a;
$orange: #ac5c36;
$darkorange: #984f2d;

$lightpurple: #720e61;
$purple: #5A0B4D;
$darkpurple: #3b0732;