@use "colors" as c;
// @import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: "Chakra Petch", sans-serif;
  // font-family: "Work Sans", sans-serif;
  // font-family: 'Ubuntu Mono', monospace;
  // font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: c.$darkgrey;
  color: c.$app-color;
}

body.dark {
  background-color: c.$darkgrey-dark;
  color: c.$app-color-dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
  margin: 0;
}

h2 {
  font-size: 1.1rem;
  font-weight: 450;
  user-select: none;
  margin: 0;
}

button {
  color: inherit;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  border: none;
  width: fit-content;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 500ms ease-in-out;
}

button:focus {
  outline: none;
}

input {
  font-family: inherit;
  font-size: 1.05rem;
  color: inherit;
  background-color: rgba(c.$grey, 0.5);
  padding: 0.25rem;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
}

input:focus {
  outline: solid 1px rgba(c.$lightgrey, 0.7);
}

input.dark {
  background-color: rgba(c.$grey-dark, 0.5);
}

input.dark:focus {
  outline: solid 1px rgba(c.$lightgrey-dark, 0.7);
}

input::placeholder {
  color: inherit;
  opacity: 0.6;
}

textarea {
  font-family: inherit;
  font-size: 1.05rem;
  color: inherit;
  background-color: rgba(c.$darkgrey, 0.5);
  padding: 0.25rem;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
  line-height: 150%;
}

textarea:focus {
  outline: solid 1px rgba(c.$lightgrey, 0.7);
}

textarea.dark {
  background-color: rgba(c.$darkgrey-dark, 0.5);
}

textarea.dark:focus {
  outline: solid 1px rgba(c.$lightgrey-dark, 0.7);
}

textarea::placeholder {
  color: inherit;
  opacity: 0.6;
}

svg {
  color: c.$app-color;
}

svg.dark {
  color: c.$app-color-dark;
}

.big-text {
  font-size: 1.2rem;
  font-weight: 450;
}

.lightgrey {
  background-color: rgba(c.$lightgrey, 0.6);
}

.lightgrey:hover {
  background-color: c.$lightgrey;
}

.lightgrey.dark {
  background-color: rgba(c.$lightgrey-dark, 0.6);
}

.lightgrey.dark:hover {
  background-color: c.$lightgrey-dark;
}

.grey-no-hover {
  background-color: rgba(c.$grey, 0.8);
}

.grey-no-hover.dark {
  background-color: rgba(c.$grey-dark, 0.8);
}

.grey {
  background-color: rgba(c.$grey, 0.8);
}

.grey:not(.selected):hover {
  background-color: c.$lightgrey;
}

.darkgrey {
  background-color: rgba(c.$darkgrey, 0.8);
}

.darkgrey:hover {
  background-color: c.$grey;
}

.grey.dark {
  background-color: rgba(c.$grey-dark, 0.8);
}

.grey.dark:not(.selected):hover {
  background-color: c.$lightgrey-dark;
}

.darkgrey {
  background-color: rgba(c.$darkgrey, 0.8);
}

.darkgrey:hover {
  background-color: c.$grey;
}

.darkgrey.dark {
  background-color: rgba(c.$darkgrey-dark, 0.8);
}

.darkgrey.dark:hover {
  background-color: c.$grey-dark;
}

.lightgrey {
  background-color: rgba(c.$lightgrey, 0.8);
}

.lightgrey.dark {
  background-color: rgba(c.$lightgrey-dark, 0.8);
}

.blue {
  background-color: rgba(c.$blue, 0.8);
}

.blue:hover {
  background-color: c.$lightblue;
}

.blue-outlined {
  border: solid 1px c.$blue;
}

.blue-outlined:hover {
  border: solid 1px c.$lightblue;
}

.blue.dark {
  background-color: rgba(c.$blue-dark, 0.8);
}

.blue.dark:hover {
  background-color: c.$lightblue-dark;
}

.blue-outlined.dark {
  border: solid 1px c.$blue-dark;
}

.blue-outlined.dark:hover {
  border: solid 1px c.$lightblue-dark;
}

.green {
  background-color: rgba(c.$green, 0.8);
}

.green:hover {
  background-color: c.$lightgreen;
}

.green-outlined {
  border: solid 1px c.$green;
}

.green-outlined:hover {
  border: solid 1px c.$lightgreen;
}


.red {
  background-color: rgba(c.$red, 0.8);
}

.red:hover {
  background-color: c.$lightred;
}

.red-outlined {
  border: solid 1px c.$red;
}

.red-outlined:hover {
  border: solid 1px c.$lightred;
}

.orange {
  background-color: rgba(c.$orange, 0.8);
}

.orange:hover {
  background-color: c.$lightorange;
}

.orange-outlined {
  border: solid 1px c.$orange;
}

.orange-outlined:hover {
  border: solid 1px c.$lightorange;
}

.text-green {
  color: c.$textgreen;
}

.text-red {
  color: c.$textred;
}

.text-blue {
  color: c.$textblue;
}

.text-orange {
  color: c.$textorange;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  transition: all 250ms ease-in-out;
}

.shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 2px 4px 10px;
}

.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rgba(252, 234, 222, 0.3) transparent;
  scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.scroller::-webkit-scrollbar-thumb {
  background: rgba(252, 234, 222, 0.3);
  border-radius: 0.25rem;
}

.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.divider {
  width: 100%;
  background-color: white;
  opacity: 0.4;
  height: 2px;
}

.pointer {
  cursor: pointer;
}
