@use "colors" as c;
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: c.$darkgrey;
  color: c.$app-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
  margin: 0;
}

button {
  color: inherit;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  border: none;
  width: fit-content;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 125ms ease-in-out;
}

button:focus {
  outline: none;
}

input {
  font-family: inherit;
  font-size: 1.05rem;
  color: inherit;
  background-color: rgba(50, 50, 50, 0.2);
  padding: 0.25rem;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
}

input:focus {
  outline: solid 1px rgba(127, 133, 143, 0.5);
}

input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.grey {
  background-color: c.$grey;
}

.grey:hover {
  background-color: c.$lightgrey;
}

.green {
  background-color: c.$green;
}

.green:hover {
  background-color: c.$lightgreen;
}

.red {
  background-color: c.$red;
}

.red:hover {
  background-color: c.$lightred;
}

.blue {
  background-color: c.$blue;
}

.blue:hover {
  background-color: c.$lightblue;
}

.orange {
  background-color: c.$orange;
}

.orange:hover {
  background-color: c.$lightorange;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  transition: box-shadow 250ms ease;
}

.shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 2px 4px 10px;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: rgba(252, 234, 222, 0.3) transparent;
  scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.scroller::-webkit-scrollbar-thumb {
  background: rgba(252, 234, 222, 0.3);
}
