@use "../../style/colors.scss" as c;

.Topbar {
	grid-area: topbar;
	width: 100%;
	background-color: c.$grey;
	z-index: 90;
}

.Topbar:global(.dark) {
	background-color: c.$grey-dark;
}

.Monitor {
	font-size: 1.5rem;
	user-select: none;
	cursor: pointer;
}

.Search {
	width: 12rem;
	background-color: c.$lightgrey;
}

.Search:global(.dark) {
	background-color: c.$lightgrey-dark;
}

.SearchItem {
	width: 100%;
	font-size: 1.1rem;
	display: grid;
	gap: 0.2rem;
	place-items: start;
	justify-content: flex-start;
	transition: all 250ms ease-in-out;
}

.Updates {
	width: 340px;
	z-index: 25;
	padding-bottom: 1rem;
}

.UpdatesContainer {
	max-height: 50vh;
}