.Topbar {
	grid-area: topbar;
	width: 100%;
	background-color: rgb(107, 37, 37);
	z-index: 90;
}

.Monitor {
	font-size: 1.5rem;
	user-select: none;
}

.Updates {
	width: 300px;
	color: rgb(231, 225, 225);
	z-index: 25;
}

.Update {
	background-color: brown;
	padding: 0.5rem;
}