@use "../../style/colors.scss" as c;

.Topbar {
	grid-area: topbar;
	width: 100%;
	background-color: c.$grey;
	z-index: 90;
}

.Monitor {
	font-size: 1.5rem;
	user-select: none;
	cursor: pointer;
}

.Search {
	width: 12rem;
	background-color: c.$lightgrey;
}

.SearchItem {
	width: 100%;
	font-size: 1.1rem;
	justify-content: space-between;
	transition: all 250ms ease-in-out;
}

.Updates {
	width: 340px;
	z-index: 25;
}

.UpdatesContainer {
	max-height: 50vh;
}