@use "../../style/colors.scss" as c;

.Topbar {
	grid-area: topbar;
	width: 100%;
	background-color: c.$grey;
	z-index: 90;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.Monitor {
	font-size: 1.5rem;
	user-select: none;
	cursor: pointer;
}

.SearchInput {
	width: 30rem;
	background-color: c.$lightgrey;
}

.SearchMenu {
	// background-color: c.$grey;
	padding: 1rem 1.5rem;
	box-sizing: border-box;
}

.SearchItem {
	width: 100%;
	box-sizing: border-box;
	font-size: 1.1rem;
	display: flex;
	gap: 0.2rem;
	align-items: center;
	justify-content: space-between;
	transition: all 250ms ease-in-out;
	padding: 0.5rem 1.5rem;
}

.Updates {
	width: 340px;
	z-index: 25;
	padding-bottom: 1rem;
}

.UpdatesContainer {
	max-height: 50vh;
}