.MenuContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.MenuBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Menu {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  position: absolute;
  display: grid;
  width: fit-content;
  /* border: solid 1px rgba(2, 107, 121, 0.25); */
  background-color: rgb(56, 20, 20);
  z-index: 21;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.Enter {
  animation-name: enter;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

.Exit {
  animation-name: exit;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

.ShortEnter {
  animation-name: enter;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

.ShortExit {
  animation-name: exit;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Left {
  right: 100%;
  top: 0px;
  /* margin-right: 0.5rem; */
}

.Right {
  left: 100%;
  top: 0px;
  /* margin-left: 0.5rem; */
}

.RightCenter {
  left: 100%;
  top: 50%;
  margin-left: 0.25rem;
  transform: translateY(-50%);
}

.Bottom {
  top: 100%;
  margin-top: 0.25rem;
}

.BottomRight {
  right: 0px;
  top: 100%;
  margin-top: 0.25rem;
}

.BottomCenter {
  top: 100%;
  left: 50%;
  margin-top: 0.25rem;
  transform: translateX(-50%);
}

.HoverMenuTarget {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.HoverMenu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0rem 0.5rem;
  background-color: rgba(10, 10, 10, 0.85);
  border: solid 1px rgba(2, 107, 121, 1);
  border-radius: 0.25rem;
  z-index: 30;
  white-space: nowrap;
}

.CenterMenuContainer {
  position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
  width: 100vw;
  height: 100vh;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.CenterMenuTitle {
	font-size: 1.5rem;
	font-weight: 500;
}

.SelectorItem:hover {
  background-color: rgba(180, 43, 43, 0.377);
}
