@use "../../style/colors.scss" as c;

.Charts {
	grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
}

.LightweightChart {
	background-color: c.$grey;
}

.Content {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
}