.Sidebar {
	grid-area: sidebar;
	background-color: rgb(28, 58, 129);
	overflow-y: scroll;
	z-index: 10;
}

.Server {
	background-color: rgb(100, 100, 100);
	height: fit-content;
}

.Deployments {
	background-color: rgb(66, 66, 66);
	transform-origin: top;
}

.ServerButton {
	width: 100%;
	justify-content: space-between;
	z-index: 5;
}

.Deployment {
	padding: 0.5rem 1rem;
	width: 100%;
	justify-content: space-between;
	transition: background-color 500ms ease;
}

.CreateButton {
	width: 90%;
	justify-self: center;
	justify-content: center;
	margin: 0.25rem;
	box-sizing: border-box;
}

/* .Enter {
  animation-name: enter;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

.Exit {
  animation-name: exit;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

@keyframes enter {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes exit {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
} */