.Sidebar {
	grid-area: sidebar;
	background-color: rgb(28, 58, 129);
	overflow-y: scroll;
	z-index: 10;
}

.Server {
	background-color: gray;
	height: fit-content;
	margin: 1rem;
}

.Deployments {
	background-color: rgb(85, 85, 85);
}

.ServerButton {
	width: 100%;
	justify-content: space-between;
	z-index: 5;
}

.Deployment {
	padding: 0.5rem 1rem;
	width: 100%;
	justify-content: space-between;
}

.CreateButton {
	width: 90%;
	justify-self: center;
	justify-content: center;
	margin: 0.25rem;
	box-sizing: border-box;
}