.Sidebar {
	grid-area: sidebar;
	background-color: blue;
	overflow-y: scroll;
}

.Server {
	background-color: gray;
	height: fit-content;
	margin: 1rem;
}

.Deployments {
	background-color: rgb(85, 85, 85);
}

.Deployment {
	padding: 0.5rem 1rem;
	justify-content: space-between;
}