@use "../../style/colors.scss" as c;

.Sidebar {
	grid-area: sidebar;
	background-color: c.$darkblue;
	z-index: 10;
	box-sizing: border-box;
	margin: 1rem;
	margin-right: 0rem;
}

.Server {
	background-color: c.$blue;
	height: fit-content;
}

.Deployments {
	background-color: c.$blue;
	transform-origin: top;
	padding: 0.5rem;
}

.ServerButton {
	width: 100%;
	justify-content: space-between;
	z-index: 5;
	transition: background-color 500ms ease;
}

.ServerButton:hover {
	background-color: c.$lightblue;
}

// .ServerButton:global(.selected):hover {
// 	background-color: c.$blue;
// }

.DropdownItem {
	padding: 0.5rem 1rem;
	width: 100%;
	justify-content: space-between;
	transition: background-color 500ms ease;
}

.DropdownItem:hover {
	background-color: c.$lightblue;
}

// .DropdownItem:global(.selected):hover {
// 	background-color: c.$lightblue
// }

.CreateButton {
	width: 90%;
	justify-self: center;
	justify-content: center;
	margin: 0.25rem;
	box-sizing: border-box;
}