@use "../../style/colors.scss" as c;

.Sidebar {
  grid-area: sidebar;
  background-color: c.$grey;
  z-index: 10;
  box-sizing: border-box;
  margin: 1rem;
  margin-right: 0rem;
  width: 325px;
}

.Sidebar:global(.dark) {
  background-color: c.$grey-dark;
}

@media only screen and (max-width: 1200px) {
  .Sidebar {
    position: absolute;
    top: 40px;
    left: 0;
		height: calc(100vh - 2rem - 40px);
  }
}

@media only screen and (max-width: 500px) {
  .Sidebar {
    width: calc(100vw - 2rem);
  }
}

.Server {
  background-color: c.$lightgrey;
  height: fit-content;
  cursor: pointer;
}

.Server:global(.dark) {
  background-color: c.$lightgrey-dark;
}

.DeploymentsTabContent {
  height: fit-content;
  padding: 0rem 0.5rem;
  padding-bottom: 0.5rem;
}

.Deployments {
  background-color: c.$lightgrey;
  transform-origin: top;
  padding: 0.5rem;
}

.Deployments:global(.dark) {
  background-color: c.$lightgrey-dark;
}

.ServerButton {
  width: 100%;
  justify-content: space-between;
  z-index: 5;
  transition: background-color 500ms ease;
}

.ServerButton:hover {
  background-color: rgba(c.$lightblue, 0.5);
}

.ServerButton:global(.dark):hover {
  background-color: rgba(c.$lightblue-dark, 0.5);
}

.DropdownItem {
  padding: 0.5rem 1rem;
  width: 100%;
  justify-content: space-between;
  transition: background-color 500ms ease;
}

.DropdownItem:hover {
  background-color: rgba(c.$lightblue, 0.5);
}

.DropdownItem:global(.dark):hover {
  background-color: rgba(c.$lightblue-dark, 0.5);
}

.CreateButton {
  width: 90%;
  justify-self: center;
  justify-content: center;
  margin: 0.25rem;
  box-sizing: border-box;
}
