.Sidebar {
	grid-area: sidebar;
	background-color: rgb(28, 58, 129);
	z-index: 10;
}

.Server {
	background-color: rgb(100, 100, 100);
	height: fit-content;
}

.Deployments {
	background-color: rgb(66, 66, 66);
	transform-origin: top;
	padding: 0.5rem;
}

.ServerButton {
	width: 100%;
	justify-content: space-between;
	z-index: 5;
	transition: background-color 500ms ease;
}

.DropdownItem {
	padding: 0.5rem 1rem;
	width: 100%;
	justify-content: space-between;
	transition: background-color 500ms ease;
}

.CreateButton {
	width: 90%;
	justify-self: center;
	justify-content: center;
	margin: 0.25rem;
	box-sizing: border-box;
}

.Divider {
	width: 100%;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}