@use "../../../style/colors.scss" as c;

.Tabs {
	display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.Tab {
  display: grid;
  place-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0rem;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  border-bottom: solid 2px rgba(c.$lightblue, 0.5);
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.Active {
  border-color: rgba(c.$lightblue, 0.8);
  background-color: rgba(c.$blue, 0.4);
}