{
	"PORT": 9000,
	"PASSKEY": "your-default-passkey",
	"DOCKER_ACCOUNTS": {},
	"GITHUB_ACCOUNTS": {},
	"GITHUB_OAUTH": {
		"ID": "your_client_id",
		"SECRET": "your_client_secret"
	},
	"GITHUB_WEBHOOK_SECRET": "your_random_webhook_secret",
	"JWT_SECRET": "your_jwt_secret",
	"JWT_VALID_FOR": "1-wk",
	"SLACK_URL": "your_slack_app_webhook_url",
	"MONGO_URI": "your_mongo_uri",
	"MONGO_APP_NAME": "monitor_core",
	"MONGO_DB_NAME": "monitor"
}