@use "../../../../style/colors.scss" as c;

.LogContainer {
	max-height: 80vh;
	margin: 1rem;
	margin-top: 0rem;
	background-color: rgba(c.$darkgrey, 0.6);
	box-sizing: border-box;
	position: relative;
}

.Log {
	white-space: pre-line;
	overflow-wrap: anywhere;
	tab-size: 2;
	padding: 0rem 1rem;
	margin-bottom: 40vh;
}

.RefreshButton {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

.ReturnButton {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}

.Enter {
  animation-name: enter;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

.Exit {
  animation-name: exit;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

@keyframes enter {
  from {
    opacity: 0;
		transform: scale(0);
  }
  to {
    opacity: 1;
		transform: scale(1);
  }
}

@keyframes exit {
  from {
    opacity: 1;
		transform: scale(1);
  }
  to {
    opacity: 0;
		transform: scale(0);
  }
}