@use "../../../style/colors.scss" as c;

.StatsContainer {
	max-height: 75vh;
  height: fit-content;
	margin: 0.5rem;
  margin-top: 0rem;
	background-color: rgba(c.$darkgrey, 0.6);
	box-sizing: border-box;
	position: relative;
	padding: 0.5rem;
}

.StatsContainer:global(.dark) {
  background-color: rgba(c.$darkgrey-dark, 0.6);
}

.Stats {
	padding: 0rem 1rem;
	margin-bottom: 40vh;
}