.app {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"topbar topbar"
		"sidebar content";
}

.content {
	grid-area: content;
	grid-template-columns: auto 2fr;
	background-color: rgb(49, 78, 112);
	padding: 1rem;
}

.left-content {
	height: fit-content;
	width: 20rem;
}

.card {
	background-color: rgb(27, 55, 86);
	padding: 0.5rem;
}

.action {
	background-color: rgb(69, 34, 96);
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	box-sizing: border-box;
}

.updates-container {
	max-height: 50vh;
}

.tabs {
	height: fit-content;
}

.config {
	height: 100%;
	place-items: start center;
	grid-template-rows: 70vh auto
}

.config-items {
	max-height: 65vh;
	padding: 0rem 0.5rem;
}

.config-item {
	width: 60vw;
	max-width: 30rem;
	background-color: darkolivegreen;
	box-sizing: border-box;
	padding: 0.5rem;
	height: fit-content;
}

.selected {
	background-color: rgb(36, 122, 192);
}