@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  *::-webkit-scrollbar {
    background-color: hsl(var(--border));
    @apply w-2;
  }
  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
    @apply rounded-lg;
  }

  body {
    @apply bg-background text-foreground;
    font-family: Inter;
  }
  pre {
    @apply bg-card text-card-foreground border rounded-xl min-h-full text-xs p-4 whitespace-pre-wrap scroll-m-4 break-all;
  }
}

@layer base {
  /*
    HUE: 0, 220.1
    SAT: 0.1%, 20.1%, 40.1%, 60.1%, 80.1%
    LIT: 5.2%, 11.2%, 20.2%, 40.2%, 60.2%, 80.2% 90.2%, 98.2%
  */
  :root {
    --background: 220.1 0.1% 98.3%;
    --foreground: 220.1 40.1% 5.2%;

    --card: 220.1 20.1% 96.2%;
    --card-foreground: 220.1 40.1% 11.2%;

    --popover: 220.1 20.1% 96.2%;
    --popover-foreground: 220.1 40.1% 11.2%;

    --primary: 220.1 20.1% 11.2%;
    --primary-foreground: 220.1 40.1% 98.2%;

    --secondary: 220.1 40.1% 90.2%;
    --secondary-foreground: 220.1 40.1% 5.2%;

    --muted: 220.1 40.1% 90.2%;
    --muted-foreground: 220.1 20.1% 20.2%;

    --accent: 220.1 40.1% 90.2%;
    --accent-foreground: 220.1 40.1% 11.2%;

    --destructive: 0 80.1% 60.2%;
    --destructive-foreground: 220.1 40.1% 98.2%;

    --border: 220.1 40.1% 90.2%;
    --input: 220.1 40.1% 90.2%;
    --ring: 220.1 40.1% 5.2%;

    --radius: 0.5rem;
  }

    /*
    HUE: 0, 220.1
    SAT: 0.1%, 20.1%, 40.1%, 60.1%, 80.1%
    LIT: 6.2%, 11.2%, 20.2%, 40.2%, 60.2%, 80.2% 90.2%, 98.2%
  */
  .dark {
    --background: 220.1 20.1% 6.2%;
    --foreground: 220.1 20.1% 98.2%;

    --card: 220.1 20.1% 8.2%;
    --card-foreground: 220.1 20.1% 98.2%;

    --popover: 220.1 20.1% 6.2%;
    --popover-foreground: 220.1 20.1% 98.2%;

    --primary: 220.1 20.1% 98.2%;
    --primary-foreground: 220.1 20.1% 11.2%;

    --secondary: 220.1 20.1% 20.2%;
    --secondary-foreground: 220.1 20.1% 98.2%;

    --muted: 220.1 20.1% 20.2%;
    --muted-foreground: 220.1 20.1% 60.2;

    --accent: 220.1 20.1% 20.2%;
    --accent-foreground: 220.1 20.1% 98.2%;

    --destructive: 0 60.1% 30.6%;
    --destructive-foreground: 220.1 20.1% 98.2%;

    --border: 220.1 20.1% 17.2%;
    --input: 220.1 20.1% 15.2%;
    --ring: 220.1 20.1% 80.2%;
  }
}
