@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: lightskyblue;
  scrollbar-color: rgba(252, 234, 222, 0.3) transparent;
  scrollbar-width: thin;
  color: #fceade;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "topbar topbar"
    "sidebar content";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  color: inherit;
  padding: 0.25rem 0.5rem;
  margin: 0;
  cursor: pointer;
  border: none;
  width: fit-content;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 125ms ease-in-out, border-color 125ms ease-in-out;
}

button:focus {
  outline: none;
}

input {
  /* font-size: 2rem; */
  font-family: inherit;
}

.green {
  border: solid 1px rgba(35, 128, 77, 0.4);
}

.green:hover {
  background-color: rgba(35, 128, 77, 0.8);
  border: solid 1px transparent;
}

.red {
  border: solid 1px rgba(169, 76, 79, 0.4);
}

.red:hover {
  background-color: rgba(169, 76, 79, 0.8);
  border: solid 1px transparent;
}

.grey {
  background-color: rgba(112, 108, 87, 0.4);
}

.grey:hover {
  background-color: rgba(112, 108, 87, 0.8);
  border: solid 1px transparent;
}

.blue {
  border: 1px solid rgba(2, 107, 121, 0.4);
}

.blue:hover {
  background-color: rgba(2, 107, 121, 0.8);
  border: solid 1px transparent;
}

.blue.active {
  background-color: rgba(2, 107, 121, 0.5);
  /* border: solid 1px transparent; */
}

.blue.active:hover {
  background-color: rgba(2, 107, 121, 0.8);
  border: solid 1px transparent;
}

.orange {
  background-color: rgba(250, 131, 33, 0.4);
}

.orange:hover {
  background-color: rgba(250, 131, 33, 0.8);
  border: solid 1px transparent;
}