# optional. default is /frontend
MONITOR_FRONTEND_PATH=/frontend

# optional. default is /config/config.toml
MONITOR_CONFIG_PATH=/config/config.toml

## All config file fields are optionally available to override on environment
## The config fields are prefixed with 'MONITOR_'
## Nested config fields are set by converting nesting to 'MONITOR_{field}', where field is uppercase

## Note. ALL the following are optional, and could also be specified in the config file
MONITOR_TITLE=Monitor
MONITOR_HOST=https://monitor.dev
MONITOR_PORT=9000
MONITOR_PASSKEY=asdfasdf
MONITOR_JWT_VALID_FOR=1-day
MONITOR_MONITORING_INTERVAL=15-sec
MONITOR_KEEP_STATS_FOR_DAYS=0
MONITOR_KEEP_ALERTS_FOR_DAYS=0
MONITOR_WEBHOOK_SECRET=asdfasdf
MONITOR_WEBHOOK_BASE_URL=https://github-listener.monitor.dev

MONITOR_LOGGING_LEVEL=info
MONITOR_LOGGING_STDIO=standard
MONITOR_LOGGING_OTLP_ENDPOINT=http://localhost:4317
MONITOR_LOGGING_OPENTELEMETRY_SERVICE_NAME=Monitor

MONITOR_LOCAL_AUTH=true

MONITOR_GITHUB_OAUTH_ENABLED=true
MONITOR_GITHUB_OAUTH_ID=asdfasdf
MONITOR_GITHUB_OAUTH_SECRET=asdfasdf

MONITOR_GOOGLE_OAUTH_ENABLED=true
MONITOR_GOOGLE_OAUTH_ID=asdfasdf
MONITOR_GOOGLE_OAUTH_SECRET=asdfasdf

MONITOR_MONGO_URI=mongodb://admin:admin@localhost:27017
# or
MONITOR_MONGO_ADDRESS=localhost:27017
MONITOR_MONGO_USERNAME=admin
MONITOR_MONGO_PASSWORD=admin

MONITOR_MONGO_APP_NAME=monitor_core
MONITOR_MONGO_DB_NAME=monitor

MONITOR_AWS_ACCESS_KEY_ID=asdfasdf
MONITOR_AWS_SECRET_ACCESS_KEY=asdfasdf
