@use "../../style/colors.scss" as c;

.UsersContent {
	padding: 1rem;
}

.Users {
	width: fit-content;
	min-width: 30rem;
	height: fit-content;
}

.Username {
	font-weight: 500;
}

.User {
	background-color: c.$lightgrey;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	box-sizing: border-box;
}